<h1>Upcoming Karaoke Artists</h1>

<main role="main">
  <ul class="entries">
    <% @entries.each do |entry| %>
      <li class="entry">
        <span class="singer"><%= entry.singer %></span>
        <span class="song-title"><%= entry.song_title %></span>

        <ul class="entry-links">

          <li class="entry-link"><a href="<%= "show-one-entry/#{entry.id}" %>">details</a></li>
          <li class="entry-link"><a href="<%= "edit-one-entry-form/#{entry.id}" %>">edit</a></li>
          <form class="delete-button" method="post" action="<%= "delete-entry/#{entry.id}" %>" >
              <input type="hidden" name="_method"  value="delete">
              <input class="delete-button" type="submit" name="delete" value="delete">
          </form>
        </ul>
      </li>

    <% end %>

  </ul>

</main>
